.movies-cards-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-sizing: border-box;
  padding: 40px 14px 0 14px;
}

.movies-cards-list__preloader {
  padding: 50px 14px 80px 14px;
  display: flex;
  justify-content: center;
}

.movies-cards-list__preloader-button {
  border: none;
  width: 240px;
  height: 36px;
  color: #000;
  background: #f9f9f9;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: opacity .25s;
}

.movies-cards-list__preloader-button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .movies-cards-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 30px 0 30px;
  }
  .movies-cards-list__preloader {
    padding: 50px 30px 80px 30px;
  }
  .movies-cards-list__preloader-button {
    width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .movies-cards-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 70px 0 70px;
  }
  .movies-cards-list__preloader {
    padding: 50px 70px 80px 70px;
  }
}